<div>
  <h1 class="header">Activity Tracker</h1>
  <h3 class="header">It's sort of like a to-do list, but with goals.</h3>
  <h4 class="header">What would you like to do?</h4>
  <p class="header link" (click)="formClicked()">Create a new activity</p>
  <p class="header link" (click)="showActivity()">View your activities</p>
  <div *ngIf="showFormClicked">
    <app-new-activity (clickSender)="hideForm()"></app-new-activity>
  </div>
  <div *ngIf="showActivityList">
    <app-activity-list></app-activity-list>
  </div>
</div>
