<p>Click a button to add time to your activity for today, or enter in a different amount in the field provided.</p>
<button (click)="beginUpdatingActivity(15, selectedActivity)">15 minutes</button>
<button (click)="beginUpdatingActivity(30, selectedActivity)">30 minutes</button>
<button (click)="beginUpdatingActivity(60, selectedActivity)">1 hour</button>

<div>
  <form>
    <label></label>
    <input type="number" min=0 #hoursPracticed>
    <button type="button" value=0 (click)="beginUpdatingActivity(hoursPracticed.value, selectedActivity); hoursPracticed.value='';">Add Custom Amount (minutes)</button>
  </form>
</div>

<button (click)="beginDeletingActivity(selectedActivity)">Delete Activity</button>
<!-- <button (click)="beginEditingGoalDetails(selectedActivity)">Edit Activity Details</button> -->

<!-- <div *ngIf="editGoal">
  <p>Edit your activity details below!</p>
  <label>Activity Name:</label>
  <input [(ngModel)]="selectedActivity.name"><br>
  <label>Hours you'd like to complete:</label>
  <input [(ngModel)]="selectedActivity.hoursToComplete"><br>
  <label>When would you like to complete your goal?</label>
  <input type="date" [(ngModel)]="selectedActivity.goalCompletionDate"><br>
  <label>Notes</label>
  <textarea [(ngModel)]="selectedActivity.notes"></textarea>
  <button (click)="finishEditingActivity(); name.value=''; hoursGoal.value=''; goalCompletionDate.value=''; notes.value='';">Save Changes</button>
  <button (click)="cancelEditingGoal()">Cancel</button>
</div> -->

<button (click)="beginUpdatingASpecificDay()">Edit a different day</button>
<div *ngIf="editDay">
  <label>Which day would you like to edit?</label>
  <input type="date" [(ngModel)]="practiceDate"><br>
  <button (click)="parsePracticeDate(practiceDate)">Ok</button>
  <p>Hours you entered originally: {{selectedActivity.hoursPracticed[d] / 60}}</p>
  <label>What are the new hours spent?</label>
  <input type="number" min=0 #newHours><br>
  <button>Keep exisiting hours practiced?</button>
  <button (click)="changeDayshours(practiceDate, newHours.value, selectedActivity); newHours.value='';">Update to new hours practiced?</button>
</div>
