<div>
  <form>
    <p>What activity would you like to add?</p>
    <label>What's your activity name?</label>
    <input #name><br>
    <label>Hours you'd like to complete?</label>
    <input #hoursGoal><br>
    <label>When would you like to complete your goal?</label>
    <input type="date" #goalCompletionDate><br>
    <label>Notes</label>
    <textarea #notes></textarea>
    <button (click)="beginAddNewActivity(name.value, hoursGoal.value, goalCompletionDate.value, notes.value); name.value=''; hoursGoal.value=''; goalCompletionDate.value=''; notes.value='';">Add</button>
    <button type="button" (click)="cancelNewActivity()">Cancel</button>
  </form>
</div>
