<p><strong>Name:</strong> {{activityToDisplay?.name}}</p>
<p><strong>Hours Practiced:</strong> {{(activityToDisplay?.totalHoursPracticed / 60) | number: '1.0-2'}}</p>
<p><strong>Goals:</strong> {{activityToDisplay?.notes}}</p>
<p><strong>Date Created:</strong> {{activityToDisplay?.dateCreated | date: 'shortDate'}}</p>
<p><strong>Hours Goal:</strong> {{((activityToDisplay?.hoursToComplete) / 60) | number: '1.0-1'}}</p>
<div id="goal-stats">
  <p><strong>Hours Left to Practice: </strong>{{((activityToDisplay?.hoursToComplete - activityToDisplay?.totalHoursPracticed) / 60) | number: '1.0-1'}}</p>
  <p><strong>Number of days practiced:</strong> {{objectKeys}}</p>
  <p><strong>Number of days since creating goal:</strong> {{totalDays}}</p>
  <p><strong>Average practiced per day:</strong> {{((activityToDisplay?.totalHoursPracticed / totalDays) / 60) | number: '1.0-1'}}</p>
  <p><strong>Average hours per day to complete goal:</strong> {{((activityToDisplay?.hoursToComplete / goalDaysRange) / 60) | number: '1.0-1'}}</p>
  <p><strong>Hours practiced today:</strong> {{(todaysHours / 60) | number: '1.0-1'}} hours</p>
</div>
<app-edit-activity [selectedActivity]="activityToDisplay"></app-edit-activity>

<hr>

<app-calendar></app-calendar>
