<p><strong>Name: </strong>{{activityToDisplay?.name}}</p>
<p><strong>Hours Practiced: </strong>{{(activityToDisplay?.hoursPracticed / 60) | number: '1.0-1' }}</p>
<p><strong>Goals: </strong>{{activityToDisplay?.notes}}</p>
<p><strong>Date Created: </strong>{{activityToDisplay?.dateCreated | date: 'shortDate' }}</p>
<p><strong>Hours Left to Practice: </strong>{{((activityToDisplay?.hoursToComplete - activityToDisplay?.hoursPracticed) / 60) | number: '1.0-1' }}</p>
<!-- <p><strong>Days Left To Complete Goal: </strong>{{(activityToDisplay?.goalCompletionDate - activityToDisplay?.dateCreated) | number: '1.0-1' }}</p> -->
<p><strong>Date Created: </strong>{{activityToDisplay?.dateCreated | date: 'shortDate' }}</p>


<app-edit-activity [selectedActivity]="activityToDisplay"></app-edit-activity>
