<div>
  <label>Switch to a new activity</label>
  <select>
    <option value=1>User Activity 1</option>
    <option value=2>User Activity 2</option>
    <option value=3>User Activity 3</option>
  </select>
  
  <h3 id="month-name">{{months[currentMonth]}} {{currentYear}}</h3>
  <table id="calendar">
    <thead>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <tbody id="calendar-body">
    </tbody>
  </table>
  <button (click)="previous()">Previous Month</button>
  <button (click)="next()">Next Month</button>

  <!-- put form for editing specific days hours here -->

</div>
